# Pré-processamento e Transformação

## Introdução

Vamos pré-processar, transformar e salvar os dados para a etapa de modelagem.  Os dados que usaremos estão em um arquivo chamado  `Orange_Telecom_Churn_Data.csv` disponível no  [GitHub repository](https://github.com/rosalvoneto/InteligenciaComputacional).

## Questão 1

* Importe os dados;
* Examine as colunas.

In [3]:
# Importar os dados
import pandas as pd

churn_data = pd.read_csv('data/Orange_Telecom_Churn_Data.csv')

churn_data.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

## Questão 2

* Elimine as variáveis irrelevantes: 'phone_number', 'area_code', 'state'.

In [4]:
# Remove phone_number column

churn_data.drop(['phone_number', 'area_code', 'state'], inplace=True, axis=1)

In [5]:
churn_data.columns

Index(['account_length', 'intl_plan', 'voice_mail_plan',
       'number_vmail_messages', 'total_day_minutes', 'total_day_calls',
       'total_day_charge', 'total_eve_minutes', 'total_eve_calls',
       'total_eve_charge', 'total_night_minutes', 'total_night_calls',
       'total_night_charge', 'total_intl_minutes', 'total_intl_calls',
       'total_intl_charge', 'number_customer_service_calls', 'churned'],
      dtype='object')

## Questão 3

* Separate os dados em dois: X_data (variáveis de entrada) e y_data (variável alvo `churned`);

* Dividir os dados em treinamento e teste usando train_test_split do sklearn.model_selection: X_train, X_test, y_train, y_test

In [6]:
# Separate os dados: X_data e  y_data
y_data = churn_data.churned
X_data = churn_data.drop(['churned'], axis=1)

print(X_data.head())
print(y_data.head())

# Dividir os dados em treinamento e teste

from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(X_data, test_size=0.3)
y_train, y_test = train_test_split(y_data, test_size=0.3)

   account_length intl_plan voice_mail_plan  number_vmail_messages  \
0             128        no             yes                     25
1             107        no             yes                     26
2             137        no              no                      0
3              84       yes              no                      0
4              75       yes              no                      0

   total_day_minutes  total_day_calls  total_day_charge  total_eve_minutes  \
0              265.1              110             45.07              197.4
1              161.6              123             27.47              195.5
2              243.4              114             41.38              121.2
3              299.4               71             50.90               61.9
4              166.7              113             28.34              148.3

   total_eve_calls  total_eve_charge  total_night_minutes  total_night_calls  \
0               99             16.78                244.7                 91
1              103             16.62                254.4                103
2              110             10.30                162.6                104
3               88              5.26                196.9                 89
4              122             12.61                186.9                121

   total_night_charge  total_intl_minutes  total_intl_calls  \
0               11.01                10.0                 3
1               11.45                13.7                 3
2                7.32                12.2                 5
3                8.86                 6.6                 7
4                8.41                10.1                 3

   total_intl_charge  number_customer_service_calls
0               2.70                              1
1               3.70                              1
2               3.29                              0
3               1.78                              2
4               2.73                              3
0    False
1    False
2    False
3    False
4    False
Name: churned, dtype: bool

## Questão 4

* Crie variáveis Dummies;
* Converta a variável alvo em numérica.

In [7]:
# Dummies

X_train = pd.get_dummies(X_train, prefix_sep='_', drop_first=True)
X_test = pd.get_dummies(X_test, prefix_sep='_', drop_first=True)

X_train.head()

,account_length,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,intl_plan_yes,voice_mail_plan_yes
3505,185,0,89.4,77,15.20,288.9,128,24.56,162.9,93,7.33,10.4,2,2.81,3,0,0
539,59,0,107.8,113,18.33,216.6,125,18.41,217.5,92,9.79,9.9,3,2.67,2,0,0
1790,125,0,191.6,115,32.57,205.6,108,17.48,210.2,123,9.46,9.2,3,2.48,2,0,0
3185,73,0,240.3,130,40.85,162.5,83,13.81,231.9,136,10.44,11.9,3,3.21,0,0,0
2275,105,0,228.4,100,38.83,145.1,108,12.33,245.3,140,11.04,7.7,7,2.08,0,1,0

In [8]:
# Converter a variável alvo

y_train = y_train.astype(int)
y_test = y_test.astype(int)

y_train.head()

2859    0
4501    0
3020    0
369     0
2312    0
Name: churned, dtype: int64

## Questão 5

* Normalize X_train -> X_train_norm e X_test -> X_test_norm: use MinMaxScaler do sklearn.preprocessing;OBS: MinMaxScaler retorna um numpy.ndarray e não um DataFrame do pandas;
* Atualize X_train e X_test com os dados normalizados.

In [9]:
# Normalizar

from sklearn.preprocessing import MinMaxScaler
import numpy as np

scaler = MinMaxScaler()

X_train_norm = scaler.fit_transform(X_train)
X_test_norm = scaler.fit_transform(X_test)

np.take(X_train_norm, range(3), axis=1)

array([[0.76033058, 0.        , 0.25484607],
       [0.23966942, 0.        , 0.30729761],
       [0.51239669, 0.        , 0.54618016],
       ...,
       [0.28512397, 0.        , 0.64623717],
       [0.39256198, 0.44230769, 0.52194983],
       [0.18181818, 0.        , 0.27394527]])

In [10]:
# Atualizar X_train com os dados normalizado

X_train = pd.DataFrame(dict(zip(X_train.columns.values, X_train_norm.T)))

In [11]:
# Atualizar/Criar X_train com os dados normalizado
X_test = pd.DataFrame(dict(zip(X_test.columns.values, X_test_norm.T)))

## Questão 6

* Examine os Dataframes;
* Salve os quatro arquivos.

In [12]:
# Examinando X_train 

X_train.head()

,account_length,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,intl_plan_yes,voice_mail_plan_yes
0,0.760331,0.0,0.254846,0.472393,0.254863,0.794336,0.752941,0.794565,0.412405,0.547059,0.412493,0.527919,0.111111,0.528195,0.333333,0.0,0.0
1,0.239669,0.0,0.307298,0.693252,0.307344,0.595546,0.735294,0.595600,0.550633,0.541176,0.550929,0.502538,0.166667,0.501880,0.222222,0.0,0.0
2,0.512397,0.0,0.546180,0.705521,0.546110,0.565301,0.635294,0.565513,0.532152,0.723529,0.532358,0.467005,0.166667,0.466165,0.222222,0.0,0.0
3,0.297521,0.0,0.685006,0.797546,0.684943,0.446797,0.488235,0.446781,0.587089,0.800000,0.587507,0.604061,0.166667,0.603383,0.000000,0.0,0.0
4,0.429752,0.0,0.651083,0.613497,0.651073,0.398955,0.635294,0.398900,0.621013,0.823529,0.621272,0.390863,0.388889,0.390977,0.000000,1.0,0.0

In [13]:
# Examinando X_test

X_test.head()

,account_length,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,intl_plan_yes,voice_mail_plan_yes
0,0.451477,0.0000,0.426953,0.676923,0.426888,0.251084,0.375940,0.251275,0.63680,0.248120,0.636816,0.770,0.20,0.770370,0.444444,0.0,0.0
1,0.236287,0.8125,0.597735,0.615385,0.597711,0.495046,0.571429,0.494902,0.43296,0.548872,0.432836,0.475,0.15,0.475926,0.000000,0.0,1.0
2,0.362869,0.0000,0.573918,0.507692,0.573967,0.401858,0.330827,0.402039,0.76256,0.353383,0.762615,0.475,0.15,0.475926,0.000000,0.0,0.0
3,0.679325,0.4375,0.575080,0.715385,0.574991,0.620743,0.691729,0.620539,0.42528,0.436090,0.425018,0.530,0.15,0.529630,0.222222,0.0,1.0
4,0.354430,0.0000,0.366250,0.553846,0.366245,0.476161,0.488722,0.476329,0.77312,0.428571,0.773276,0.455,0.20,0.455556,0.333333,0.0,0.0

In [14]:
# Salvando os dados em arquivos

X_train.to_csv('data/Orange_Telecom_Churn_Data_X_train.csv', index=False)
X_test.to_csv('data/Orange_Telecom_Churn_Data_X_test.csv', index=False)

y_train.to_csv('data/Orange_Telecom_Churn_Data_y_train.csv', index=False)
y_test.to_csv('data/Orange_Telecom_Churn_Data_y_test.csv', index=False)